@import '../node_modules/bootstrap/scss/bootstrap';

$primary: #042786 !important;
$info: #6bd5e1 !important;
$success: #2ee273 !important;
$success-dark: #24aa3afb !important;
$warning: #f5e16e !important;
$danger: #e46d56 !important;
$sass: #e66984 !important;

// Navbar underline variables
$linkWidth: 65px;

body {
   font-family: 'Maven Pro', sans-serif;
   font-weight: 400;
   // margin-top: 120px;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.btn-primary {
   border-radius: 8px !important;
   transition: all 0.3s ease !important;

   &:hover,
   &:focus {
      outline: none !important;
      background: #fff !important;
      color: $primary;
   }
}

.text {
   &-primary {
      color: $primary;
   }

   &-info {
      color: $info;
   }

   &-success {
      color: $success;

      &-dark {
         color: $success-dark;
      }
   }

   &-warning {
      color: $warning;
   }

   &-danger {
      color: $danger;
   }

   &-sass {
      color: $sass;
   }
}

// Mobile menu
.menu-wrap {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;

   .menu-toggler {
      position: absolute;
      top: 13px;
      left: 15px;
      z-index: 4;
      cursor: pointer;
      width: 50px;
      height: 50px;
      opacity: 0;

      &:checked + .hamburger .line-1 {
         transform: rotate(145deg) translateY(-2px);
      }
      &:checked + .hamburger .line-2 {
         transform: translateX(-100px);
      }
      &:checked + .hamburger .line-3 {
         transform: rotate(-145deg) translateY(2px);
      }

      &:checked ~ .menu {
         transform: translateX(0);
      }
   }

   .hamburger {
      position: absolute;
      top: 13px;
      left: 15px;
      z-index: 3;
      width: 60px;
      height: 60px;
      padding: 1rem;
      background: transparent;

      .line-1,
      .line-2,
      .line-3 {
         position: absolute;
         width: 30px;
         height: 3px;
         background: $primary;
         border-radius: 15px;
         transition: 0.8s ease;
      }

      .line-1 {
         top: 20px;
         transform: rotate(0) translateY(0);
      }
      .line-2 {
         top: 30px;
         transform: translateX(0);
      }
      .line-3 {
         top: 40px;
         transform: rotate(0) translateY(0);
      }
   }

   .menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 60vw;
      overflow: hidden;
      background: rgb(241, 241, 241);
      box-shadow: 5px 0 10px rgba(146, 146, 146, 0.308);
      transform: translateX(-600px);
      transition: transform 0.8s ease;

      div:first-child {
         margin-top: 2.2rem;
      }

      .theme-toggler {
         position: absolute;
         right: 15px;
         top: -3px;
      }

      ul {
         li {
            padding: 2vh 1rem;
            font-size: 5vw;

            &:last-child {
               margin-top: 40vh;
            }

            a {
               color: #000;
               i {
                  padding-right: 10px;
               }
            }
         }
      }
   }
}

// Theme toggler
.theme-toggler {
   margin-right: 1rem;

   .label {
      position: relative;
      width: 50px;
      height: 25px;
   }

   input {
      transform: scale(0);

      &:checked + .background {
         background: $success;
      }

      &:checked + .background .knob {
         transform: translateX(25px);
      }
   }

   .background {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      background: #c6c8d6;
      transition: background 0.5s ease;
   }

   .knob {
      position: absolute;
      top: 2.25px;
      left: 1.75px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: #f7f7f7;
      transition: all 0.4s ease;
   }
}

// Scroll Nav
#scrollNav {
   opacity: 0;
   height: 0;
   // transform: scale(0);

   .navbar-nav {
      position: relative;

      li {
         a {
            color: $primary;
            padding-left: 0;
            padding-right: 0;
            margin: 0 0.5rem;
         }
      }

      .scroll-nav-underline {
         position: absolute;
         bottom: 6px;
         left: 0;
         width: 18px;
         height: 1.5px;
         border-radius: 10px;
         background: $primary;

         // &::before {
         //    content: '';
         //    position: absolute;
         //    bottom: 21px;
         //    left: 0;
         //    width: 18px;
         //    height: 1.5px;
         //    border-radius: 3px;
         //    background: $primary;
         // }
      }
   }
}

.show-nav {
   box-shadow: 0 2px 5px rgba(146, 146, 146, 0.308);
   animation: navScrolled 0.4s ease forwards;
}

@keyframes navScrolled {
   to {
      opacity: 1;
      // transform: scale(1);
      height: 90px;
   }
}

// Navbar
#mainNav {
   // border-bottom: 1px solid $primary;
   transition: all 0.6s ease;

   .navbar-brand {
      h1 {
         transition: 0.3s ease;
      }
   }

   .navbar-nav {
      position: relative;
      font-weight: 500;

      .nav-underline {
         position: absolute;
         bottom: 12px;
         left: 0;
         width: 20px;
         height: 1.5px;
         border-radius: 2px;
         background: $primary;
      }

      .nav-item {
         text-transform: uppercase;

         a {
            color: $primary;
            letter-spacing: 1px;
         }
      }
   }
}

// Hero
#hero {
   #hero-content {
      color: $primary;
      h1 {
         font-weight: 300;
      }
   }

   .scroller-wrapper {
      .scroller {
         position: relative;
         height: 67px;
         width: 42px;
         border-radius: 23px;
         border: 2px solid $primary;
         cursor: pointer;
         transition: all 0.3s ease;

         &-inner {
            position: absolute;
            top: 10px;
            left: 14px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: $primary;
            animation: scroll 2s ease infinite;
         }

         @keyframes scroll {
            0% {
               opacity: 0;
               transform: translateY(0);
            }

            25% {
               opacity: 1;
            }

            65% {
               opacity: 1;
            }

            100% {
               transform: translateY(28px);
               opacity: 0;
            }
         }
      }
   }
}

// Services
#services {
   height: 450px;

   .services-card {
      border-radius: 10px;
      transition: all 0.3s ease;

      &:hover {
         box-shadow: 0px 8px 30px rgba(146, 146, 146, 0.3);
         border-bottom: 5px solid $info;
         transform: translate3d(0, -10px, 0);
      }
   }
}

// About
#about {
   margin-top: 8rem;

   .btn {
      border-radius: 6px !important;
   }

   .about-img {
      height: 380px;
      width: 200px;
   }
}

$item-width: 38px;

// Projects
#projects {
   margin-top: 6rem;
   .projects-categories {
      .nav {
         position: relative;

         li {
            &:hover {
               cursor: pointer;
               a {
                  transition: 0.3s ease;
                  color: $success;
               }
            }
         }

         .active {
            a {
               color: $success;
            }
         }

         &-link:nth-child(1).active {
            color: $success;
         }
         &-link:nth-child(2).active {
            color: $success;
         }
         &-link:nth-child(3).active {
            color: $success;
         }
         &-link:nth-child(4).active {
            color: $success;
         }

         .projects-underline {
            position: absolute;
            bottom: -2px;
            left: 25.5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $success;
         }
      }
   }

   .projects-item {
      height: 400px;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      overflow: hidden;

      &::after {
         content: '';
         position: absolute;
         background: $success;
         opacity: 0.9;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         transform: scale(2) translate(-70%, -75%) rotate(-28deg);
         transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
      }

      &:hover:after {
         transform: scale(2) translate(0, 0) rotate(-28deg);
      }

      &:hover .projects-img {
         transform: scale(1.17);
      }

      &:hover .projects-img-text {
         opacity: 1;
         transform: translateY(0);
      }

      .projects-img {
         display: block;
         width: 100%;
         height: 100%;
         transition: 0.5s ease;
         object-fit: cover;
      }

      .projects-img-text {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         opacity: 0;
         text-align: center;
         z-index: 1;
         color: #fff;
         transform: translateY(-50%);
         transition: all 1.5s cubic-bezier(0.2, 1, 0.3, 1);
         transition-delay: 150ms;

         &-wrap {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);

            h5 {
               text-transform: uppercase;
            }
         }
      }
   }
}

// Skills
#skills {
   margin-top: 6rem;

   .nav {
      position: relative;

      .skills-underline-background {
         background: #ddd;
         width: 100%;
         height: 2px;

         .skills-underline {
            position: absolute;
            bottom: 0px;
            left: 25.5px;
            width: 40px;
            height: 2px;
            background: $primary;
         }
      }
   }
}

// Clients
#clients {
   height: 500px;
   margin-bottom: 6rem;
   margin-top: 6rem;

   .container {
      // margin-top: 6rem;

      .clients-title {
         margin-bottom: 3rem;
         h2 {
            margin-bottom: 1rem;
         }
      }

      .clients-cards {
         .clients-card {
            margin: 0 1rem;
            border-radius: 10px;
            transition: all 0.3s ease;

            &:hover {
               box-shadow: 0px 8px 30px rgba(146, 146, 146, 0.3);
               border-bottom: 5px solid $info;
               transform: translate3d(0, -10px, 0);
            }

            .clients-img {
               img {
                  height: 100px;
                  width: 100px;
                  border-radius: 50%;
               }
            }
         }
      }
   }
}

// Contact
#contact {
   margin-top: 6rem;

   .contact-wrapper {
      position: relative;
      height: 56px;
      border: 2px solid $primary;
      border-radius: 0.5rem;
      background: #000;
   }

   input {
      position: relative;
      width: 180px;
      height: 56px;
      background: transparent;
      border: 0;
      text-indent: 0.75rem;
      color: #fff;

      &:focus + .placeholder {
         background: #fff;
         transform: translate(0.625rem, 10px) scale(0.8);
      }

      .placeholder {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 0;
         padding: 0 0.25rem;
         background: transparent;
         pointer-events: none;
         transform: translate(0.5rem, 15px);
         transform-origin: 0% 0%;
         transition: all 0.35s;
      }
   }
}

// Footer
#footer {
   background: url('/dist/img/bg-software-footer-2.jpg') no-repeat center center/cover;
   height: 380px;

   .container {
      height: 100%;

      .row {
         height: 100%;
      }

      #footer-social {
         ul {
            li {
               float: left;
               margin: 1rem;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   #mainNav {
      position: fixed;
      top: 0;
      width: 100% !important;
      transition: all 0.4s ease;
      z-index: 2;
      box-shadow: 0 2px 10px rgba(146, 146, 146, 0.308);

      .container {
         padding: 0 !important;
         margin: 0 !important;

         .row {
            .col:first-child {
               justify-content: center !important;
               // align-items: flex-start !important;
               padding-right: 0;

               .navbar-brand {
                  // padding-top: 1rem;
                  // padding-left: 1rem;
                  margin-right: 0;

                  h1 {
                     font-size: 3rem;
                  }
               }
            }
         }
      }
   }

   #hero {
      margin-top: 8rem;
   }

   #services {
      height: auto;
      margin-top: 4rem;
   }

   #about {
      margin-top: 1.5rem;
   }

   #projects {
      margin-top: 4rem;

      .projects-item {
         width: 300px;
         height: 320px;
      }
   }

   #clients {
      height: auto;
      margin-top: 4rem;

      .clients-title {
         margin-bottom: 0.5rem !important;
      }
   }

   #footer {
      height: auto;
      margin-top: 4rem;
      padding-top: 2rem;
      background: rgba(71, 184, 236, 0.171);

      #footer-links {
         text-align: center !important;
         ul {
            padding-left: 0;
            li {
               a {
                  font-size: 1.5rem;
               }
            }
         }
      }

      #footer-social {
         text-align: center !important;
         ul {
            padding-left: 0;
            display: flex;
            justify-content: center;
            li {
               float: left;
               margin: 1rem 1rem 0 1rem;
               a {
                  font-size: 1.5rem;
               }
            }
         }
      }

      #footer-address {
         ul {
            padding: 0 1.5rem;
         }
      }
   }
}
